
.container {
    background: url("../img/fon.png") no-repeat fixed;
    width: 100%;
    background-size: cover;
    margin: 0 auto;
    height: 100vh;

}

.opacity-header {

    margin: 0 auto;
    height: 54px;
    background: rgba(0, 0, 0, 0.4117647058823529);
}


.logo {
    position: absolute;
    color: #FFFFFF;
    font-size: 20px;
    text-transform: uppercase;
    float: left;
    font-weight: 600;
    text-decoration: none;
    top: 20px;
    left: 81px;
}

.log-in {
    position: absolute;
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    top: 21px;
    right: 75px;
    font-weight: 600;


}

.log {
    color: #3CB878;
}

.logo:hover {
    color: #3CB878;
    cursor: pointer;
}

.log:hover {
    text-decoration: underline;
}


.icon-caledar {
    position: absolute;
    top: 17px;
    right: 382px;
    width: 20px;
    height: 20px;
    background-image: url(../img/spritesheet.png);
    background-position: -5px -35px;

}

.icon-forum {
    position: absolute;
    top: 17px;
    right: 330px;
    width: 28px;
    height: 20px;
    background-image: url(../img/spritesheet.png);
    background-position: -34px -43px;
}

.icon-journey {
    position: absolute;
    top: 17px;
    right: 290px;
    background-image: url(../img/spritesheet.png);
    width: 20px;
    height: 20px;
    background-position: -71px -5px;
}

.sprite-line {
    position: absolute;
    top: 17px;
    right: 270px;
    background-image: url(../img/spritesheet.png);
    width: 3px;
    height: 19px;
    background-position: -72px -35px;
    opacity: 0.10196078431372549;
}

.icon-caledar:hover, .icon-forum:hover, .icon-journey:hover {
    filter: invert(50%) sepia(110%) saturate(190%) hue-rotate(1180deg) brightness(93%) contrast(103%);
    cursor: pointer;
}

.form {
    border: 1px solid #bfbfbf;
    width: 444px;
    background-color: white;
    border-radius: 10px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -46% );


}


.sign {
    width: 77px;
    height: 19px;
    font-size: 20px;
    top: 148px;
    left: 521px;
    margin: 29px 205px 14px 60px;
    display: inline-block;
    font-weight: 600;

}

.square {
    position: absolute;
    width: 18px;
    height: 18px;
    background: #3CB878;
    margin: 29px 426px 537px -1px;

}

.log-text {
    position: absolute;
    width: 43px;
    height: 13px;
    font-size: 14px;
    color: #3CB878;
    display: inline-block;
    margin: 33px 59px 14px 0;
    font-weight: 600;

}

.login {
    text-decoration: none;
    color: #3CB878;

}

.login:hover {
    text-decoration: underline;
    cursor: pointer;
}

.facebook-sprite {
    background-color: #305DB8;
    width: 158px;
    height: 47px;
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    text-align: right;
    padding: 14px 26px 13px 60px;
    margin: 0 3px 33px 60px;
    outline: none;
}

.facebook-sprite:hover {
    background-color: #264B96;
    cursor: pointer;
}

.facebook {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    background-position: -51px -5px;
    position: absolute;
    display: inline-block;
    margin: 0 0 0 -41px;
}

.line-button-facebook {
    border-left: 1px solid black;
    opacity: 0.10196078431372549;
    padding: 7px;
    margin: 11px 6px 0 -11px;


}

.google-sprite {
    width: 158px;
    height: 47px;
    background-color: #DF4A32;
    border: 1px solid gray;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    text-align: right;
    padding: 14px 26px 13px 60px;
    outline: none;
}

.google-sprite:hover {
    background-color: #C3412C;
    cursor: pointer;
}

.google {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 27px;
    height: 20px;
    background-position: -5px -5px;
    position: absolute;
    display: inline-block;
    float: left;
    margin: 2px 0 0 -44px;
}

.line-button-google {
    border-left: 1px solid black;
    opacity: 0.10196078431372549;
    padding: 7px;
    margin: 11px 13px 0 -7px;

}

.por {
    padding: 0;
    width: 322px;
    text-align: center;
    position: relative;
    margin: 0 60px 8px 60px;
    color: #848484;

}

.por::before {
    content: '';
    display: inline-block;
    height: 2px;
    width: calc(50% - 25px);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);

}

.por::after {
    content: '';
    display: inline-block;
    height: 2px;
    width: calc(50% - 25px);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.3);
    right: 0;

}

.name-form {
    width: 323px;
    height: 47px;
    margin: 9px 60px 0 60px;
    color: #434343;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #EAEAEA;
    outline: none;
    cursor: pointer;
}

.name-form:focus {
    box-shadow: 2px 3px 10px 3px rgba(221, 221, 221, 1);
    color: #434343;
    cursor: pointer;

}

.name-checkbox {
    margin: 22px 10px 28px 65px;
}

.name-agree {
    color: #434343;


}

.terms {
    color: #3CB878;
    text-decoration: none;
}

.terms:hover {
    text-decoration: underline;
}

.button {
    width: 322px;
    height: 46px;
    border: none;
    border-radius: 4px;
    color: white;
    background-color: #3CB878;
    font-size: 16px;
    margin: 0 60px 32px 62px;
    outline: none;
}

.button:hover {
    background-color: #329A65;
    cursor: pointer;
}
